# --------------------------------------------------
# Ignore for node server
# --------------------------------------------------

#ignoring node modules
/node_modules*

#ignoring SSL certificates
/public/certificates*
