h1{
  font-family: "Helvetica";
  font-size: 24px;
}
h2{
  font-family: "Helvetica";
  font-size: 14px;
}

.messagesList{
  display: inline-block;
  width: 100%;
  padding: 0px;
  height: 250px;
  background-color: #eee;
  overflow: scroll;
}

#messagesList1{
  width: 30%;
   background-color: #66e;
}
#messagesList2{
  width: 30%;
  background-color: #e66;
}
#messagesList3{
  width: 30%;
  background-color: #6e6;
}
