.url_input {
  width: 600px;
}

.legende_input {
  width: 400px;
  height:100px;
}

details {
  font: 16px "Open Sans", "Arial", sans-serif;
  width: 620px;
}

details > summary {
  padding: 2px 6px;
  width: 8em;
  background-color: #24DB42;
  border: none;
}
